.li_top:hover{
    border-radius: 0.5vw 0.5vw 0px 0px;
    
}
.li_bottom:hover{
    border-radius: 0px 0px
    0.5vw  0.5vw;
}
.about_link{
    color: white;
    font-weight: 600;
    background-color: #233067;
    padding: 0.8vw 0.1vw;
    border-radius: 0.2vw;
    margin-left: 2vw;
}