.Usecasesimg{
    width:100%;
}

.CardContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
   gap: 1vw;
   justify-content: center;
}

.Card{
    width: 20vw;
    height: 22vw;
    position: relative;
    display: flex;
    justify-content: center;

}
.cardTitle,
.cardDes1,
.cardDes2,
.cardDes3{
    position: absolute;
    top:7vw;
    color: white;
    font-weight: 800;
    font-size: 1vw;
    text-align: center;
    line-height: 1.2;
}

.cardDes1{
    top:13vw;
    font-size: 0.6vw;
}
.cardDes2{
    top:15vw;
    font-size: 0.6vw;
}
.cardDes3{
    top:13vw;;
    font-size: 0.6vw;
    color: #6b7684;
}

.LearnMore{
    position: absolute;
    color: white;
    font-size: 0.6vw;
    padding: 0.4vw;
    border: 0.06vw solid white;
    border-radius: 0.3vw;
    top:18vw
}
.LearnMore:hover{
    background-color: #484C5E;
}