.DaasPanoSection { grid-area: 1 / 1 / 14 / 12; }
.DaasPanoContainer { grid-area: 3 / 1 / 6 / 9; 
    background-color: white;
    display: flex;

}
.DaasPanoBox{
    margin-left: 4vw;
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 2vw;
}
.div { grid-area: 6 / 1 / 9 / 9; 
    background-color: rgba(255, 255, 255, 0.513);
}
.DaasPanoLinkBox{
    height: 6vw;
    display: flex;
    align-items: center;
    margin-top: 2vw;
}
.Link{
    background-color: rgba(35, 48, 103, 1);
    border: 1px solid rgba(35, 48, 103, 1);;
    font-size: 1vw;
    width: 7vw;
    padding: 0.6vw 0.1vw;
    border-radius: 0.2vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    color: white;
}
.Link:hover {
    background-color: white;
    color: rgba(35, 48, 103, 1);
}


.DaasDS { grid-area: 3 / 1 / 5 / 8; 
    color: white;
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin-left: 8vw;
    margin-top: 5vw;
}
.DaasHD { grid-area: 1 / 1 / 2 / 9; }