.SoluctionsBack { grid-area: 1 / 1 / 9 / 12;

    
}
/* .SoluctionsHeader { grid-area: 1 / 1 / 2 / 9; } */
.SoluctionsBox1,
.SoluctionsBox2,
.SoluctionsBox3,
.SoluctionsBox4
{
    background-color: rgba(1, 30, 56, 0.195);
    padding: 2vw 2vw;
    border: 0.1px solid rgb(180, 180, 180);
    border-top: none;
    text-align: center;
    font-size: 1.3vw;
    color: white;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); 
    padding-top: 4vw;   
}

.section1_h1{
    display: flex;
    justify-content: center;
    grid-area: 1 / 1 / 1 / 2; 
    margin-bottom: 8vw; 
}

.section1_DS{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    font-size: 1vw;
    color: white;
    font-weight: 500;
    line-height: 2vw;
    text-align: center;
    padding-top: 6vw;
    /* margin-bottom: 1vw; */
}
.box{
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box_a{
    border:  2px solid white;
    padding: 1vw 2vw;
    border-radius: 0.5vw;

}
.SoluctionsBox1 { grid-area: 1 / 1 / 9 / 3;
   
 }
.SoluctionsBox2 { grid-area: 1 / 3 / 9 / 5; }
.SoluctionsBox3 { grid-area: 1 / 5 / 9 / 7; }
.SoluctionsBox4 { grid-area: 1 / 7 / 9 / 9; }

.SamplesDS { grid-area: 3 / 1 / 5 / 8; 
    color: white;
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin-left: 8vw;
    margin-top: 5vw;
}
.SamplesHD { grid-area: 1 / 1 / 2 / 9; }
