.title_container{
    width: 100%;
    background-color: aqua;
   
}

.title_p{
    position: absolute;
    z-index: 2;
    margin-top: 2vw;
    line-height: 2vw;
}

.div1{
    padding-top: 10vw;
    display: flex;
    justify-content: end;
    width: 50%;
    height: 100%;
  

}
.div2{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: end;
    

}
.boxContainer{
    width: 95%;
    height: max-content;
    
    
}
.ImgBox{
    width: 100%;
    height: max-content;
    
}
.infoBox{
    margin-top: 2vw;
    margin-bottom: 10vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    width: 10vw;
    padding:  0.5vw;
    height: 15vw;
    box-shadow: 1px 1px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
   border-radius: 0.5vw;
}
.Description{
    margin-top: 2vw;
    font-size: 1.2vw;
    margin-left: 1vw;

}
.contact{
    font-size: 1vw;
    width: max-content;
    padding: 0.8vw 0.9vw;
    border: 0.15vw solid rgba(35, 48, 103, 1);
    color: rgba(35, 48, 103, 1);
    border-radius: 0.5vw;
    margin-top: 2vw;
    margin-left: 1vw;
}

.a{
    display: flex;
    width: 100%;
    height: max-content;
}
.b{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60%;
    padding-right: 5vw;
}
.c{
    display: flex;
    align-items: center;
    width: 40%;
}
.title{
    position: absolute;
    margin-top: 8%;
    margin-left: 23%;
    font-size: 2.7vw;
    line-height: 3.2vw;
    font-weight: 800;
    
}