.HeadLink{
    font-size: 1vw;
    margin-right: 3vw;
    color: rgba(193, 193, 193, 1);
    flex-direction: column;
}
.HeadLink:hover{
    color: goldenrod;
}

.footer{
    display: flex;
    width: 100%;
    height: 100%;
}
.footerlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: rgba(193, 193, 193, 1);
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    background-color: aquas;

}

.footerlogotext{
    margin-left: 10px;
    text-decoration-line: underline;
   
}

.logoimg{
    margin-top: 2.5vw;
    width: 18vw;
    height: 7vw;

}

.footerinfo{
    width: 70%;
    height: 100%;
    

}

.footerinfobox{
    margin-top: 3vw;
    margin-left: 5vw;
    width: 60vw;
    height: 10vw;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 2fr repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.div1,.div2,.div3{
    color: rgba(193, 193, 193, 1);
    font-weight: 700;
    font-size: 1vw;
}
.div4,.div5,
.div6,.div7{
    display: flex;
    color: rgba(193, 193, 193, 1);
    font-size: 0.9vw;
}




.div1 { grid-area: 1 / 1 / 2 / 2; 
}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 1 / 3 / 2 / 13; }
.div5 { grid-area: 2 / 3 / 3 / 6; }
.div6 { grid-area: 3 / 3 / 4 / 6; }
.div7 { grid-area: 4 / 1 / 5 / 8; }
.div8 { grid-area: 5 / 1 / 6 / 3; 
}
.div9 { grid-area: 5 / 3 / 6 / 9; 
    padding-left: 1vw;
}
.div10 { grid-area: 6 / 1 / 7 / 9;   
}

.div7,.div8,.div9,.div10{
    font-size: 0.7vw;
    color: rgba(193, 193, 193, 1);
}

.Topup{
    position: absolute;
    margin-left: 90vw; 
    margin-top: 7.5vw;
}
.topimg{
    width:1.9vw;
    height: 2.5vw;
}